<nav class="header-nav">
  <ul>
    <li class="nav-item">
      <a href="{{ '/' | relative_url }}" {% if page.url == '/' %}class="active"{% endif %}>홈</a>
    </li>
    <li class="nav-item">
      <a href="{{ '/board.html' | relative_url }}" {% if page.url == '/board.html' %}class="active"{% endif %}>전체 게시판</a>
    </li>
    
    <li class="nav-item dropdown">
      <a href="#" {% if page.url contains '/categories/' %}class="active"{% endif %}>카테고리 ▾</a>
      <ul class="dropdown-menu">
        <li><a href="{{ '/categories/symposium.html' | relative_url }}">심포지엄</a></li>
        <li><a href="{{ '/categories/seminar.html' | relative_url }}">세미나</a></li>
        <li><a href="{{ '/categories/education.html' | relative_url }}">교육</a></li>
        <li><a href="{{ '/categories/forum.html' | relative_url }}">포럼</a></li>
        <li><a href="{{ '/categories/paper.html' | relative_url }}">논문</a></li> </ul>
    </li>
    
    <li class="nav-item">
      <a href="{{ '/schedule.html' | relative_url }}" {% if page.url == '/schedule.html' %}class="active"{% endif %}>일정</a>
    </li>
  </ul>
</nav>